.piedcard {
  display: flex;
  flex-direction: column;
  margin: 10px;

  .piedcard_info {
    display: flex;
    align-items: center;
   
    .commentaire {
        display: flex;
      margin: 0 10px;        
      flex-grow: 1;
     
      justify-content: center;
      img{
        width: 25px;
        cursor: pointer;
        margin: 0 5px 0 10px;
      }
    }
    div {
      display: flex;
      align-items: center;
      img {
        width: 25px;
        cursor: pointer;
        margin: 0 5px 0 10px;
      }
      p {
        margin-right: 10px;
      }
    }
  }
}
