.profil {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  margin: 10px;
  border-radius: 10px;
  background-color: $color-5;

  border: 1px solid black;

  .cree_profilimage {
    display: flex;
    flex-wrap: wrap;
  }

  label {
    margin: 5px;
  }
  input {
    margin: 5px;
    width: 95%;
  }
  img {
    margin: 10px;
    border-radius: 10px;
    height: 50px;
    object-fit: scale-down;
  }

  .button_modif {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .mess_err_profil {
      align-self: center;
      flex-grow: 1;
      text-align: center;

      .mess_profil {
        color: rgb(13, 83, 13);
      }
      .erreur_profil {
        color: red;
      }
    }
  }

  button {
    background: $color-8;
    color: white;
    width: 80px;
    height: 30px;
    margin: 0 10px 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 1px 1px rgba(51, 51, 51, 0.418);
    &:hover {
      background: $color-1;
    }
  }

  //   p {
  //     margin: auto;
  //   }
  // }
}
